# Needed Settings

    # Log file location - needs to be first thing defined
    LogFileLoc="/home/thatusername/buildlogs"

    SourceTreeLoc="/home/thatusername/android/system"
    DeviceList=(
                  "bacon"
                  "oneplus3"
                                    )

    # In Settings, Version: 14.1-20161225-UNOFFICIAL-angler
    #   RomVersion is '14.1'
    #   Device is 'angler'
    # In Settings, Build Number: cm_angler-userdebug
    #   RomVariant is 'cm'
    #   RomBuildType is 'userdebug'
    #   Device is 'angler'
    RomVariant="lineage"
    RomBuildType="userdebug"
    RomVersion="14.1"

    # Jack eats RAM
    JackRAM="6g"

    # Can run make clean before building OR before building + between each device build
    # Can be "Disabled", "BetweenBuilds" or "AtStart"
    MakeClean="BetweenBuilds"


# Optionals
    # Set Zip file name to tomorrow's date (date at start of script + 24 hours)
    BuildTomorrow=false

    # Stop script on non-breaking changes
    StopOnWarn=false

    # Sync repo before building
    SyncOnStart=true

    # Use ccache: the superfast cache of previously built files
    UseCcache=true

    # Sign the Builds
    SignBuilds=false

    # path to the signing keys
    # http://wiki.lineageos.org/signing_builds.html#generating-the-keys
    SigningKeysPath=~/.android-certs

    # file for signing key passwords
    # only needed if you specified an password when creating the keys
    # otherwise comment out the setting/variable
    # file is in the format
    # [[[  PASSWORD  ]]] PATH_TO_KEY
    # for an example see examples/passwords.txt
    # you should store this file in an secure place
    SigningKeyPasswordsFile=~/.android-certs/passwords.txt

    # Currently not implemented
    DeleteBuildAfterUpload=true

    # build with su
    WithSU=false

    # If you'd like to pick some specific unmerged changes from Gerrit after a repo sync, here's your chance:
    # RepoPicks is an array so use it in the form below: (Like DeviceList)
    #RepoPicks=( "" )
    # If you'd like to pick an entire topic to pull from Gerrit after a repo sync: (same format as RepoPicks and DeviceList)
    #RepoTopics=( "" )

    # run additional scripts after repo sync
    AdditionalScriptsAfterRepoSync=(
        "vendor/extra/patch.sh"
	)

    # Override threads for building. This is set to CPU core count by default
    # If this is too low (<3), you may run into weird problems like:
    # javac: file not found: out/target/common/obj/APPS/org.cyanogenmod.platform-res_intermediates/src/cyanogenmod/platform/Manifest.java
    #MakeThreadCount=3



# SSH Upload
    SSHUpload=true #Therefore define the parameters
      SSHHost=mysshhost.org
      SSHUser=thatusername
      SSHPort=22
      SSHDirectory=/home/mysshhost.org/public_html/lineageos/downloads
    LineageUpdater=true
      LineageUpdaterApikey="abcdefghijklmn"
      LineageUpdaterURL="https://lineage.harryyoud.co.uk"
      DownloadBaseURL="https://mysshhost.org/lineageos/downloads"
